.mobile-allTransaction-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mobile-block {
    margin-top: .78rem;
    background-color: white;
    border-radius: .2rem;
    box-shadow: 0px .2rem .42rem .12rem rgba(186, 177, 212, 0.16);
  }
  .mobile-allTransaction-body {
    flex: 1;
    overflow: auto;
    padding: 1.08rem .68rem;
    display: flex;
    flex-direction: column;
    font-size: .26rem;
    &::-webkit-scrollbar { width: 0 }
    .mobile-allTransaction-search {
      font-size: .26rem;
      padding:.82rem 1.26rem .6rem .96rem;
      background-color: white;
      border-radius: .2rem;
      box-shadow: 0px .2rem .42rem .12rem rgba(186, 177, 212, 0.16);
      margin-top: .7rem;
      .mobile-allTransaction-selsect-item {
        display: flex;
        align-items: center;
        margin-bottom: .6rem;
        .allTransaction-selsect-label {
          width: 3rem;
          font-size: .56rem;
          color: #666;
          font-weight: bolder;
          position: relative;
          &::before {
            content: '';
            width: .1rem;
            height: .1rem;
            border-radius: 50%;
            @include background-color('primary');
            position: absolute;
            left: -0.5rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .select-box {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;

        }
      }
      button { 
        color: white;
        border-radius: .1rem;
        outline: none;
        font-size: .52rem;
        border: 0;
        @include background-color('primary');
        margin-top: .76rem;
        padding: .2rem .66rem;
      }
    }
  }
  
}
div {
  /deep/ .el-select .el-input .el-select__caret {
    @include font-color('primary');
    font-weight: bolder;
  }
  /deep/ .el-select-dropdown__item.selected {
    @include font-color('primary');
  }
  /deep/ .el-select .el-input.is-focus .el-input__inner {
   @include border-color('primary');
  }

  /deep/ .el-select .el-input__inner:focus {
    @include border-color('primary');
  }

  /deep/ .el-select-dropdown__item.selected {
    @include font-color('primary');
  }
}